/* Stories interface */
.Layout-sc-1xcs6mc-0 .dKitkM {
  /* Twitch overrides the display attribute so just move the element off screen. */
  position: fixed;
  left: 100%;
}
/* Terms of service banner */
.iSpCDu { display: none; }
/* Cookie banner */
*:has(> .consent-banner) { display: none; }
/* Prime message count */
.prime-offers__pill { display: none; }
/* Twitch Recap banner, and likely others. */
#twilight-sticky-footer-root { display: none; }
